@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kony";
  src: local("kony"), url("/public/fonts/KoniBlack.ttf");
}

@font-face {
  font-family: "roboto";
  src: local("roboto"), url("/public/fonts/Roboto.ttf");
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
